---
import "/src/input.css";
const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta content="#2B2D31" name="theme-color" />

<!-- Canonical URL -->
<link rel="canonical" href={Astro.url} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:site_name" content={title} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/svg/logo.svg" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/svg/logo.svg" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/svg/logo.svg" />
<link rel="manifest" href="/path/to/site.webmanifest" />
<link rel="mask-icon" href="/assets/images/svg/logo.svg" color="#000000" />
<link rel="icon" href="/assets/images/svg/logo.svg" />
<link rel="shortcut icon" href="/assets/images/svg/logo.svg" />
<meta name="msapplication-TileColor" content="#000000" />
<meta name="msapplication-TileImage" content="/path/to/mstile-144x144.png" />
<meta name="msapplication-config" content="/path/to/browserconfig.xml" />
